extends base.pug

block title
    title Empleado

block container
    .container.mt-5(style={width:'350px'})
        h1 Empleados
        hr
        form(action="" method="post")
            .form-group
                label(for="identidad") Identidad
                input#fullname.form-control(type="text" name="identidad")
            
            .form-group.mt-3
                label(for="nombre") Nombre
                input#username.form-control(type="text" name="nombre")
            
            .form-group.mt-3
                label(for="telefono") Teléfono
                input#username.form-control(type="text" name="telefono")
            
            .form-group.mt-3
                label(for="direccion") Dirección
                input#username.form-control(type="text" name="direccion")

            .form-group.mt-3
                label(for="observaciones") Observaciones
                input#username.form-control(type="text" name="observaciones")

            .form-group.mt-3
                .d-grid.gap-2
                    button.btn.btn-primary.mt-1(formaction="/ingresarEMP") Ingresar
                .d-grid.gap-2
                    button.btn.btn-primary.mt-1(formaction="/modificarEMP") Modificar
                .d-grid.gap-2
                    button.btn.btn-primary.mt-1(formaction="/eliminarEMP") Eliminar
                .d-grid.gap-2.mt-1
                    a.btn.btn-success(href="/") Volver
        .table.mt-3
            table(border="1" cellpadding="7" cellspacing="7")
                thead
                    th.col Identidad
                    th.col Nombre
                    th.col Teléfono
                    th.col Dirección
                    th.col Observaciones
                each item in data
                    tr
                        td= item.identidad
                        td= item.nombre
                        td= item.telefono
                        td= item.direccion
                        td= item.observaciones
